@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0f1a;
  color: white;
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
